/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
/* Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

/* shared background-color */
.topic1{
  background: rgba(255, 76, 30, 0.05);
}
.topic2{
  background: rgba(0, 76, 232, 0.05);
}
.topic3{
  background: rgba(255, 223, 0, 0.05);
}

#header-section{
  max-width: 1320px;
  margin:38px auto;
}

/* nav styles start */
.nav-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.nav-container h3{
  font-size: 28px;
  font-weight: 800;
  color: rgb(13, 19, 33);
}

.nav-container button{
  border: 1px solid rgb(13, 19, 33);
  background: #fff;
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
/* nav style end */

/* banner style start */
.banner-section{
  background-image: url("../assets/Hero-bg.png");
  max-width: 1320px;
  min-height: 652px;
  margin: 0 auto;
  margin-bottom: 74px;
}

.banner-container{
  width: 998px;
  height: 582px;
  display: flex;
  gap: 32px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content h2{
  font-size: 40px;
  font-weight: 800;
  line-height: 68px;
  color: rgb(13, 19, 33);
}

.banner-content p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.btn-contact{
  border-radius: 8px;
  background: rgb(13, 19, 33);
  border: none;
  padding: 21px 24px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
/* banner style end */

/* challenge section start */
.challenge-section{
  width: 1140px;
  height: 1240px;
  margin: 0 auto;
  text-align: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.challenge-text-container{
  width: 946px;
  margin: 0 auto;
  text-align: center;
}

.challenge-text-container h3{
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}

.challenge-text-container p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(13, 19, 33);
  margin-bottom: 40px;
}
/* challenge section end */

/* flexbox container start */
.flexbox-container{
  display: flex;
  gap: 50px;
  align-items: center;
  width: 946px;
  margin: 0 auto;
  background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  padding: 40px;
  margin-bottom: 32px;
}

.flexbox-content{
  text-align: left;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.flexbox-content > h3{
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
}

.flexbox-content p{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.flexbox-content button{
  width: 150px;
  padding: 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.flexbox-img{
  width: 40%;
}
/* flexbox container end */

/* Media section styles start */
#media-section{
  width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-top: 90px;
}

.media-text{
  width: 852px;
  height: 113px;
  text-align: center;
  margin: 0 auto;
}

.media-text h3{
  font-size: 32px;
  font-weight: 800;
  color:rgb(13, 19, 33);
  margin-bottom: 20px;
}

.media-text p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.youtube-content{
  border: 1px solid rgba(13, 19, 33, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
}

.youtube-content iframe{
  width: 1076px;
  height: 641px;
  margin: 0 auto;
  justify-items: center;
  padding: 28px 0;
}
/* Media section styles end */

/* target section styles start */
.target-section{
  max-width: 1140px;
  min-height: 460px;
  margin-top: 90px;
  margin: 90px auto;
}

.target-content{
  text-align: center;
  width: 852px;
  margin: 0 auto;
}

.target-content > h3{
  font-size: 32px;
  font-weight: 800;
  padding: 20px;
}

.target-content > p{
  font-size: 16px;
  font-weight: 40
}

.target-topics{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.topic{
  width: 364px;
  padding: 50px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topic h3{
  font-size: 24px;
  font-weight: 800;
}

.topic p{
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(13, 19, 33);
}

.topic > a{
  font-size: 16px;
  font-weight: 700;
  color: rgb(13, 19, 33);
}

/* target section styles end*/

/* Next target section style start */
.next-target-section{
  width: 1140px;
  height: 866px;
  margin: 0 auto;
}

.next-target-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.next-target-content > h3{
  font-size: 32px;
  font-weight: 800
}

.next-target-content > p{
  font-size: 16px;
  font-weight: 400;
}

.target-column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.target{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
}

.target .contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.contents h4{
  font-size: 24px;
  font-weight: 800
}

.contents > p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.contents > a{
  font-size: 16px;
  font-weight: 700;
  color: rgb(13, 19, 33);
}
/* Next target section style end */

/* support section styles start */

.support-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4))  ,url("../assets/handshake.jpg");
  background-position: center;
  background-size: cover;
  width: 1140px;
  height: 313px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.support-container{
  width: 1044px;
  height: 213px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.support-content > h3{
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.support-content > p{
font-size: 16px;
font-weight: 40;
color: #fff;
}


input[type = "email"]{
  display: inline-block;  
  margin: 0;
  width: 500px;
  height: 57px;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

#inputs input[type="submit"]{
  width: 120px;
  height: 57px;
  margin: 0;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none ;
  cursor: pointer;
}

#inputs input[type="submit"]:hover{
  background-color: rgb(22, 21, 21);
  transition: 0.5s ease-in;
  color: #fff;
  border: 2px solid #fff;
  
}

/* support section styles end */

/* footer styles start */
#footer{
  margin-top: 90px;
  /* max-width: 1320px; */
  height: 100px;
  margin: auto;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}

.footer-container{
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .social-icons{
  display: flex;
  gap: 20px;
} */
/* footer styles end */
